/* INDEX */
body {
    margin: 0;
    background-image: url(img/bg-image.jpg);
    background-size: cover;
}

.menu-item {
    transition: transform 0.2s ease-in-out;
  }
  
.menu-item:hover {
    transform: scale(1.1);
  }


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.genshindle {
    transform: scale(0.5, 0.5);
    display: block;
    margin: 0 auto;
}
  .menu {
    margin-top: 20px;
  }
  

  input{
    display: block;
    opacity: 0;
  }


label{
	position: relative;
	width: 60px;
	height: 34px;
	display: inline-block;
	background: #666666;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

	
	
label:after {
  content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	width: 30px;
	height: 30px	;
	background: #FFF;
	border-radius: 50%;
	box-shadow: 1px 3px 6px #666666,
}


input:checked + label {
  background: #009900;
}
	

input:checked + label:after{
  left: auto;
	right: 2px;
}

