body {
    margin: 0;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
}

th {
    width: 100px;
    text-align: center;
    background-color: rgb(31, 30, 30);
    color: white;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
}

.input-group{
    margin-bottom: 50px;
}

.true {
    background-color: rgb(106, 230, 106);
    width: 100px;
    height: 100px;
}

.false{
    background-color: rgb(216, 86, 86);
    width: 100px;
    height: 100px;
}

.charIcon{
    width: 100px;
    height: 100px;;
}

#guess {
    background-color: rgb(63, 63, 63);
    color: white;
    font-weight: bold;
}

#charInput {
    border: 2px solid black;
}

.fade-in-image { animation: fadeIn 2s; }


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.col-md-12 {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}
